body{
    justify-content: center;
}
.rendered-form{
    text-align: center;
    display: block;
}
.btn-default{
    margin: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 20px;
    background-color: rgba(41,198,79,0.88);
    color: mintcream;
}
label{
    display: none;
}
input{
    padding: 5px;
    width: 200px;
}
textarea{
    padding: 10px;
    width: 200px;
}
form{
    justify-content: space-between;
    text-align: center;
}
.form-group{
    justify-content: space-around;
    padding: 15px;
    display: flex;
}
.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control::placeholder {
    text-align: center;
}
.form-fieldset-container{
    display: block;
    border-style: none;
    justify-content: space-between;
}
.form-container-main{
}
#edit-fields-btn-containers{
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    padding: 10px;
}
.edit-fields {
    display: block;
    border-style: none;
    padding: 10px;
    margin: 10px;
}
.edit-card-input{
    display: flex;
}
.field-button{
    display: inline-flex;
}
